<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
<connectionStrings>
	<add name="SorrySlidersBDEntities" connectionString="metadata=res://*/ModeloSorrySliders.csdl|res://*/ModeloSorrySliders.ssdl|res://*/ModeloSorrySliders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SF103ATP;initial catalog=SorrySlidersBD;user id=TesterSorrySliders;password=t3st3r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <diagnostics performanceCounters="Default" />
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IRegistroUsuario" maxReceivedMessageSize="65536">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IInicioSesion" maxReceivedMessageSize="524288">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IMenuPrincipal" maxReceivedMessageSize="924288">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILobby">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IUnirsePartida">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICrearPartida">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICrearLobby">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICrearPartida"
        contract="ServicioSorrySliders.I" name="NetTcpBinding_ICrearPartida">
        <identity>
          <userPrincipalName value="LAPTOP-SF103ATP\monti" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInicioSesion"
        contract="ServicioSorrySlider.IInicioSesion" name="NetTcpBinding_IInicioSesion">
        <identity>
          <userPrincipalName value="LAPTOP-SF103ATP\monti" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMenuPrincipal"
        contract="ServicioSorrySlider.IMenuPrincipal" name="NetTcpBinding_IMenuPrincipal">
        <identity>
          <userPrincipalName value="LAPTOP-SF103ATP\monti" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistroUsuario"
        contract="ServicioSorrySlider.IRegistroUsuario" name="NetTcpBinding_IRegistroUsuario">
        <identity>
          <userPrincipalName value="LAPTOP-SF103ATP\monti" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobby"
        contract="ServicioSorrySlider.ILobby" name="NetTcpBinding_ILobby">
        <identity>
          <userPrincipalName value="LAPTOP-SF103ATP\monti" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUnirsePartida"
        contract="ServicioSorrySlider.IUnirsePartida" name="NetTcpBinding_IUnirsePartida">
        <identity>
          <userPrincipalName value="LAPTOP-SF103ATP\monti" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:5455/ServidorSorrySliders"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICrearLobby"
        contract="ServicioSorrySlider.ICrearLobby" name="NetTcpBinding_ICrearLobby">
        <identity>
          <userPrincipalName value="LAPTOP-SF103ATP\monti" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>